* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.header {
    background-image: url(images/bg1.jpg);
    background-position: top;
    padding: 20px;
}

.hambar {
    
    padding-bottom: 40px;
    display: flex;
}

.hambar img {
    width: 30px;
    height: 30px;
}

.MainHeading h2 {
    color: rgb(231, 59, 59);
    font-size: 20px;
}

.MainHeading h1 {
    font-weight: bold;
    background: url('images/bgText.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.detail {
    padding: 10px;
    border: 2px solid white
}